.footer-productos{
    margin-top: 20px;
    margin-bottom: 20px;  
    margin-left: 30px;
    opacity: 0.5;
    .footer-productos__autor{
        margin-top: 20px;
        margin-bottom: 20px;  
        margin-left: 30px;  
        background-color: $colornav;
        padding: 1.2rem;
        width: 90%;
        color:$colpagtexto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-weight: bold;
        &.elaborado{
            font-family: Arial, Helvetica, sans-serif;
            color:$colelabo;
            font-size: 1.5rem;              
        }
    }
    .footer-productos__RRSS{
        width: 2rem;
        display: column;
        justify-content: flex-start;
        
    }
    .footer-RRSS__Redes{
        width: 2.5rem;
        opacity: 0.8;
        justify-content: flex-start;
          
    }
}
