*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $colorbody;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(/Img/Fondos/editado4.jpg);
    background-size: cover;
    background-attachment: fixed;
}