//variables index
$colorbody: #faebd7;
$colornav: #d48721;
$colornavli: #deb887;
$colorimpor:#465d4b;
$hoverbg: #bdb76b;
$hovercolor:#f1f0e4;
$mainempre:#000080;
$colelabo:#000000;


//variables pago
$colbody:#3E888E;
$colbgheafoot:#8EC8CD;
$colbarra:#13282B;
$colhover:#fff8dc;
$colpagos:#84AEAA;
$colpagtitu:#C04335;
$colpagtexto:#000000;
$colfooter:#cd853f;
$colafooter:#13282B;
$colfoothov:#f5f5f5;

//variables productos
$colheader: #ff7f50;
$colbgheaprod:#fafaff;
$colpagtexto:#000000;
$colornav: #d48721;